In [2]:
import duckdb
import pandas as pd
df = pd.DataFrame()
def query(query, db_path='../data/datalake/database.duckdb'):
    con = duckdb.connect(database=db_path, read_only=False)
    try:
        result = con.execute(query)
        df_result = result.fetch_df()
        return df_result
    except Exception as e:
        print(f"error: {e}")
    finally:
        con.close()

In [4]:
query("select * from silver_layer")

,stationShortCode,stationUICCode,type,trainStopping,commercialTrack,cancelled,scheduledTime,actualTime,differenceInMinutes,trainNumber
0,HKI,1,DEPARTURE,True,10,False,2023-11-01 04:55:00,2023-11-01 04:55:21,0.0,1
1,PSL,10,ARRIVAL,True,4,False,2023-11-01 05:00:00,2023-11-01 05:00:14,0.0,1
2,PSL,10,DEPARTURE,True,4,False,2023-11-01 05:01:00,2023-11-01 05:01:45,1.0,1
3,KÄP,977,ARRIVAL,False,None,False,2023-11-01 05:03:00,2023-11-01 05:04:00,1.0,1
4,KÄP,977,DEPARTURE,False,None,False,2023-11-01 05:03:00,2023-11-01 05:04:00,1.0,1
...,...,...,...,...,...,...,...,...,...,...
1927559,MSO,78,ARRIVAL,False,None,False,2023-11-30 08:07:25,2023-11-30 07:34:57,-32.0,76045
1927560,MSO,78,DEPARTURE,False,None,False,2023-11-30 08:07:25,2023-11-30 07:34:57,-32.0,76045
1927561,KR,60,ARRIVAL,True,4,False,2023-11-30 08:21:18,NaT,-32.0,76045
1927562,KR,60,DEPARTURE,True,4,False,2023-11-30 08:33:18,NaT,-32.0,76045
1927563,IKO,62,ARRIVAL,True,2,False,2023-11-30 08:48:41,2023-11-30 07:58:52,-50.0,76045